body {
  padding-left: 1em;
  font-family: Helvetica, "Helvetica Neue", Arial;
  color: #FFFFFF;
  background-color: #000000;
}

.large { 
  color: #FFFFFF; 
  font-family:arial; 
  font-size: 2vw; 
}

#wrapper {
  width: 100%;
  color: #FFFFFF;
}

div { float: left}
